<p>footer works!</p>
<hr>
<div class="footer">
    <div class="row ">
        <div class=" col-md-4 col-sm-12 caja1 text-dark text-center">
            <h3><a href="contactos">contactos</a></h3>
            <p>+00000000</p><br>
            <p>Tambien incluimos un correo</p><br>
            <p>usuriogmail.com</p>
            <h3>El objetivo</h3>
            <p>El objetivo de esta pagina solo es entretener y presentar mi tarea en angular</p><br>
            <h3>Name principal:</h3>
            <p>Yecid Cusicanqui </p>
 
        </div>
        <div class=" col-md-4 col-sm-12 caja2 text-dark text-center ">
        <h3></h3>
        <div class="card m-lg-5" style="width: 18rem;">
            <img src="./../../../assets/imagenes/footer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores omnis iusto nulla quod atque, cum unde molestiae ut consequatur possimus nostrum totam adipisci dicta cupiditate ex reprehenderit? Perspiciatis, quae consequatur.</p>
            </div>
        </div>
        
        </div>
        <div class=" col-md-4 col-sm-12 caja3 text-dark text-center">
        <h3><strong>UBICACION</strong></h3>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.998337853396!2d-68.12130732396542!3d-16.475621840100104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f21c58db910a7%3A0x597b806062afee45!2sUMSA!5e0!3m2!1ses-419!2sbo!4v1717806470883!5m2!1ses-419!2sbo"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        
        </div>
    </div>
</div>