<p>menu works!</p>
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./../../../assets/imagenes/logo.png" alt="" width="204" height="54">
        </a>
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contactos">contactos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Más
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="https://www.minecraft.net/es-es">Comprar juego</a></li>
                        <li><a class="dropdown-item" href="https://www.conmasfuturo.com/objetivos-en-el-mundo-de-minecraft/">enlace a otras paginas</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="formulario">formulario</a></li>
                    </ul>
                </li>
            
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Escribe" aria-label="Search">
                <button class="btn btn-outline-info bg-dark" type="submit">buscador</button>
            </form>
        </div>
    </div>
</nav>
